streamlit
langchain
langchain_community
llama-cpp-python
nltk
faiss-cpu
sentence-transformer
transformers
torch
tqdm

# If using local documents (e.g., TextLoader)
unstructured
python-magic-bin; platform_system == "Windows"

# Optional: If running on Apple Silicon
# llama-cpp-python[metal]; platform_system == "Darwin"

# Streamlit caching sometimes needs this
cachetools>=5.3.0
